# Build
target/
build/
*.class

# IntelliJ IDEA
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/
.apt_generated/
.factorypath

# VS Code
.vscode/

# Maven
.mvn/
!mvn/wrapper/maven-wrapper.jar

# Test / log / cache
*.log
*.zip
*.rar
*.tar
*.gz

# Fișiere de upload
uploads/
*.mp4
*.mov
*.avi

# Alte fișiere mari
*.iso
*.7z
*.exe
